<div id="content" class="sequential">
    
<h1>Critical Failure - Forum</h1>

<% @forum_groups.each do |forum_group| %>
  <fieldset>
    <legend><%= forum_group.name %></legend>
    <%= render forum_group.forums %>
  </fieldset>
<% end -%>


</div>
