<p id="notice"><%= notice %></p>
<div id="content" class="sequential">
  <%= will_paginate(@articles, :class => 'test') %>
  <%= render @articles %>
  <%= will_paginate(@articles, :class => 'test') %>
</div>
