div#main {
  top: 20px;
  margin: auto;
  width: 850px;
}

div.sequential {
	margin: 5px 10px 0 10px;
}

div.clear {
	clear: both;
}

div.left { float: left; }
div.right { float: right; }

div#banner {
  height: 210px;
}

div#mainmenu {
  position: relative;
  text-align: right;
  right: 15px;
}

div#pagemenu {
  position: relative;
}

div.menu {
}

div.menu > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div.menu > ul > li {
	display: inline;
	margin-left: 10px;
}

div#content {
  position: relative;
  right: 5px;
  left: 0px;
}

div.article {
  margin: 0.5em 0 0.5em 0.5em;
  padding: 5px;
}

div.article_content {
}

div.article_footer {
  padding: 5px 2px 8px 2px;
  margin: 0 0 5px 0;
}

div.article_footer > span.author {
	float: left;
}

div.article_footer > span.changed {
	float: right;
}

div.postings {
  position: relative;
}

div.posting {
  position: relative;
  margin: 1em 0 1em 0;
  padding: 0;
}

div.posting .author  .timestamp {
  margin-top: 3px;
  font-size: 0.9em;
}
div.posting .author {
  bottom: 0;
  top: 0;
  float: left;
  width: 97px;
  position: relative;
  padding: 1em;
  height: 100%;
}

div.posting .content {
  bottom: 0;
  top: 0;
  margin-left: 120px;
  padding: 0;
}

div.posting .header {
  height: 2.5em;
  vertical-align: middle;
  background-color: silver;
  padding: 5px;
}
div.posting .header > h2 {
  margin: 6px 0 0 0;
  padding: 0;
  display: inline-block;
  height: 2.8em;
  vertical-align: middle;
}

div.posting .header .navigation {
  float: right;
}

div.posting .content .body {
  padding: 5px;
}

div.topic {
  position: relative;
  margin: 1em 0 1em 0;
  padding: 0;
}

div.topic h2 {
  margin: .3em;
}

div.topic .author {
  margin: 0 0 .4em 1em;
}

div#breadcrumbs {
  margin: 1.2em 0.2em;
}

div.signature {
  padding: 5px 5px 8px 15px;
}
