body, pre, p {
  font-size: 12px;
  font-family: Calibri, Helvetica, Verdana, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

div.article {
  border: 1px solid grey;
  border-bottom-left-radius: 6px 6px;
  border-bottom-right-radius: 6px 6px;
  border-top-left-radius: 6px 6px;
  border-top-right-radius: 6px 6px;
}

div.article > h2 {
	font: bold 1.2em Verdana,sans;
}

div.article_content {
	font: 0.9em Verdana, sans;
}

div.article_footer {
	border-top: 1px solid black;
}

div#pagemenu  li:before {
  content: "| ";
}

div.posting {
  padding-left: 0;
  border: 1px solid grey;
  border-bottom-left-radius: 6px 6px;
  border-bottom-right-radius: 6px 6px;
  border-top-left-radius: 6px 6px;
  border-top-right-radius: 6px 6px;
}

div.posting .author {
  font-style: italic;
  font-size; 0.8em;
}
div.posting .content {
  border-left: 1px solid grey;
}

div.posting .author {
}

div.topic {
  border: 1px solid grey;
  border-bottom-left-radius: 6px 6px;
  border-bottom-right-radius: 6px 6px;
  border-top-left-radius: 6px 6px;
  border-top-right-radius: 6px 6px;
}

div#breadcrumbs {
  font-size: 1.5em;
  font-weight: bold;
}

div.sigdisplay {
  width: 65%;
  height: 140px;
  border: 1px solid silver;
}

div.posting .signature {
  border-top: 1px solid silver;
  background-color: #E8E8E8;
}

div.posting .footer {
  border-top: 1px solid silver;
}
/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
table.tablesorter tbody td a {
  text-decoration: underline;
  font-weight: bold;
}

table.subscriptions {
  width: 90%;
  margin: 6px;
  padding-left: 5px;
  padding-right: 15px;
  border-collapse:collapse;
}

table.subscriptions td, table.subscriptions th {
  border-bottom: 1px solid black;
  padding: 6px;
}

table.subscriptions tbody tr td.center {
  text-align: center;
}

div.field label {
  font-weight: bold;
}

div.field span.helptext {
  font-weight: normal;
  font-size: 85%;
  display: inline-block;
  font-style: italic;
}
