= form_for(@administration_profile) do |f|
  - if @administration_profile.errors.any?
    #error_explanation
      %h2
        = pluralize(@administration_profile.errors.count, "error")
        prohibited this administration_profile from being saved:
      %ul
        - @administration_profile.errors.full_messages.each do |msg|
          %li= msg
  .actions
    = f.submit
