<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @forum_group.name %>
</p>


<%= link_to 'Edit', edit_administration_forum_group_path(@forum_group) %> |
<%= link_to 'Back', administration_forum_groups_path %>
